export DATABASE_URL="postgresql://[user[:password]@][host][:port][/dbname][?paramspec]"
export INJECTIONS_PATH="$PWD/injections.toml"
export HOST="127.0.0.1"
export PORT="8000"
export JWT_SECRET="your_generated_random_hex_string_here"
export JWT_EXPIRES_IN=1
